<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Shashank Shovit</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
	  <div class="container">
	    <div class="navbar-header">
	      <%= link_to image_tag("profile-pic.jpg", class: "img-circle"), root_path, class: 'navbar-brand' %>
	      <%= link_to 'Shashank Shovit', root_path, class: 'navbar-brand' %>
	    </div>
	  	<div class="pull-right navbar-brand">
	  		<div>
	  			<table class="contact-details">
	  				<tr>
	  					<td rowspan=2><span class="glyphicon glyphicon-phone"></span></td>
	  					<td><a href="tel:+917348901688">+91 734 890 1688</a></td>
	  				</tr>
	  				<tr>
	  					<td><a href="tel:+918764097487">+91 876 409 7487</a></td>
	  				</tr>
	  				<tr>
	  					<td><span class="glyphicon glyphicon-envelope"></span></td>
	  					<td><a href="mailto:shashankshovit@gmail.com?Subject=We are interested in your profile" target="_top">shashankshovit@gmail.com</a></td>
	  				</tr>
	  			</table>
	  		</div>
	  	</div>
	  </div>
  </nav>

<%= yield %>

</body>
</html>
